/* Background and container styling */
.stats-container {
  background-color: #c68e4f;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

/* Card styling */

.stat-card:hover {
  transform: translateY(-5px);
}

/* Icon styling */
.stat-icon {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
}

/* Number styling */
.stat-number {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

/* Label styling */
.stat-label {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}
